<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <% for( let i=0; i < file1.length; i++ ) { %>
        <%= `${data[0]}번째 input의 ${file1[i].filename}` %>
            <img src="/<%= file1[i].path %>" alt="">
            <br>
            <% } %>
                <% for( let j=0; j < file2.length; j++ ) { %>
                    <%= `${data[1]}번째 input의 ${file2[j].filename}` %>
                        <img src="/<%= file2[j].path %>" alt="">
                        <br>
                        <% } %>
</body>

</html>