<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>

<body>
    <div>
        <h1>
            <%= title %>
        </h1>
        <div>
            <%= info.id %>님의 비밀번호는 <%= info.pw %>
        </div>
    </div>
</body>

</html>