<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>axion dynamic file upload</title>
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <form name="dynamicForm" id="dynamicForm">
        <input type="text" name="id" id="id"><br>
        <input type="text" name="pw" id="pw"><br>
        <input type="file" name="fileInput" id="fileInput"><br><br>
        <button type="button" onclick="register()">ํ์๊ฐ์</button>
    </form>
    <div>
        <img id="resultImg" src="" alt="">
        <p id="resultId"></p>
        <p id="resultPw"></p>
    </div>
    <script>

        function register() {
            const formData = new FormData();
            const file = document.querySelector('#fileInput');
            const id = document.querySelector('#id');
            const pw = document.querySelector('#pw');
            formData.append('id', id.value);
            formData.append('pw', pw.value);
            formData.append('fileInput', file.files[0]);

            axios({
                method: 'post',
                url: '/register',
                data: formData,
                headers: {
                    'Content-Type': "multipart/form-data"
                }
            }).then((response) => {
                const { file, info } = response.data
                resultImg.src = `/` + file.path
                resultId.textContent = `${info.id}๋ ํ์ํฉ๋๋ค.`
                resultPw.textContent = `${info.pw}๋ก ๋น๋ฐ๋ฒํธ๊ฐ ์ค์๋์์ต๋๋ค.`;

            }).catch((error) => {
                alert('๐ซerror๊ฐ ๋ฐ์ํ์ต๋๋ค๐ซ')
            })
        }
    </script>
</body>

</html>