<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mongoDB Test</title>
    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        #result {
            font-size: 20px;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <h1>ëª½ê³ ë””ë¹„ CRUD</h1>
    <form name="input_form">
        <input type="text" id="id" placeholder="id">
        <input type="text" id="pw" placeholder="id"><br>
        <button type="button" onclick="create()">create</button>
        <button type="button" onclick="findOne()">find</button>
        <button type="button" onclick="update()">update</button>
        <button type="button" onclick="deleteDB()">deleteDB</button>
    </form>
    <div id="result"></div>
    <script>
        const form = document.forms['input_form']
        const resultBox = document.getElementById("result")
        console.log('form ê°€ì ¸ì˜¤ê¸° > ', form);
        function create() {
            axios({
                method: "post",
                url: "/create",
                data: {
                    id: form.id.value,
                    pw: form.pw.value
                }
            }).then((result) => {
                // console.log(result);
                resultBox.textContent = "ðŸ˜ŠDB ìž…ë ¥ ì„±ê³µðŸ˜Š"
            }).catch((err) => {
                console.log('create ì˜¤ë¥˜ >', err);
            })
        }

        function findOne() {
            axios({
                method: "get",
                url: "/findOne",
                params: {
                    id: form.id.value,
                    pw: form.pw.value
                }
            }).then((result) => {
                // console.log(result.data);
                if (result.data) {
                    resultBox.textContent = `ê²€ìƒ‰ ì •ë³´ => id : ${result.data.id} pw : ${result.data.pw}`
                } else {
                    resultBox.textContent = "í•´ë‹¹í•˜ëŠ” ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤"
                }

            }).catch((err) => {
                console.log('findOne ì˜¤ë¥˜ >', err);
            })
        }
        function update() {
            axios({
                method: "patch",
                url: '/update',
                data: { id: form.id.value, pw: form.pw.value }
            }).then((result) => {
                if (result) {
                    resultBox.textContent = `ë¹„ë°€ë²ˆí˜¸ ë³€ê²½ ì„±ê³µ id : ${result.data.id} pw : ${result.data.pw}`
                } else {
                    result.textContent = "í•´ë‹¹í•˜ëŠ” ë°ì´í„°ê°€ ì—†ìŠµë‹ˆë‹¤"
                }
                console.log(result.data);
            }).catch((err) => {
                console.log(err);
            })
        }
        function deleteDB() {
            axios({
                method: "delete",
                url: '/deleteDB',
                data: { id: form.id.value }
            }).then((result) => {
                console.log(result.data);
                resultBox.textContent = `ì‚­ì œ ë°ì´í„° => id : ${result.data.id} pw : ${result.data.pw}`
            }).catch((err) => {
                console.log(err);
            })
        }
    </script>
</body>

</html>